<div class="row">
  <div class="col-md-12">
    <h3>Profile Details</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
  <p id="notice"><%= notice %></p>
  <% if @user.chef_avatar %>
    <img class="img-responsive avatar" src="<%= @user.chef_avatar %>" alt="Profile Picture">
  <% else %>
    <img class="img-responsive avatar" src="<%= @user.avatar %>" alt="Profile Picture">
  <% end %>
    <br>
    <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Member since: <%= Time.at(@user.created_at).strftime("%B %e, %Y") %></p>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <h4>Order history</h4>
    <% @user.orders.each do |order| %>
      <p>Chef: <%= order.meal.chef.first_name %></p>
      <p>Meal #<%= order.meal_id %>: <%= order.meal.name %>
      <p>Quantity: <%= order.quantity %></p>
      <p>Total: <%= number_to_currency order.total_price %></p>
      <p>Destination: <%= order.destination_address %></p>
      <p>Delivery time: <%= Time.at(order.delivery_time).strftime("%B %e, %Y, at %I:%M %p") %></p>
      <hr>

    <% end %>

  </div>
</div>
