<tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.meal.chef_id %></td>   <!-- roundabout way, using meal_id to get to chef_id -->
      <td><%= order.meal_id %></td>
      <td><%= order.quantity %></td>
      <td><%= order.total_price %></td>
      <td><%= order.destination_address %></td>
      <td><%= order.delivery_time %></td>
    </tr>
  <% end %>
</tbody>
