<p>
  <strong>Meal:</strong>
  <%= @order.meal.name %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @order.meal.chef.first_name %>
</p>

<p>
  <strong>Destination address:</strong>
  <%= @order.destination_address %>
</p>

<p>
  <strong>Ordered on:</strong>
  <%= Time.at(@order.created_at).strftime("%B %e, %Y, at %I:%M %p") %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= Time.at(@order.delivery_time).strftime("%B %e, %Y, at %I:%M %p") %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= number_to_currency @order.total_price %>
</p>
<!-- add edit logic/helper... order_changes_allowed? -->
<% if @order.delivery_time > DateTime.now %>
  <p>
    <%= link_to 'Edit', edit_order_path(@order) %> |
    <%= link_to 'Cancel', order_path(@order), method: :delete, data: { confirm: 'Are you sure you want to cancel this order?' } %>
  </p>
<% end %>
