<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Adjust Your Order</h3>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <strong>Meal: </strong><%= @order.meal.name %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <%= form_for(@order) do |f| %>
              <% if @order.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@order.errors.count, "error") %>        prohibited this order from being saved:</h2>

                  <ul>
                  <% @order.errors.full_messages.each do |message|        %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <%= f.hidden_field :patron_id, :value => current_user.      id %>

              <%= f.hidden_field :meal_id, :value => @order.meal.id       %>

              <div class="form-group">
                <%= f.label :quantity %>
                <%= f.number_field :quantity, in: 1.0..6.0, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :destination_address %>
                <%= f.text_field :destination_address, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :delivery_time %>
                <br>
                <%= f.datetime_select :delivery_time, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.submit "Submit", class: "form-control btn btn-info" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Back', :back %>


</div>
