<p id="notice"><%= notice %></p>

<p>
  <strong>Patron:</strong>
  <%= @order.patron_id %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @order.meal_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Destination address:</strong>
  <%= @order.destination_address %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @order.delivery_time %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
