<div class="row">
  <div class="col-md-12">
    <h2>Meals</h1>
  </div>
</div>
<div class="row">
  <p id="notice"><%= notice %></p>
  <% @meals.each do |meal| %>
  <div class="col-md-3 single-meal">
    <%= render :partial => "meal", :locals => { :layout => false , :@meal => meal } %>
    <% if @meal.seed_image %>
      <img class="img-responsive" src="<%= @meal.seed_image %>" alt="Meal Picture">
    <% else %>
      <%= image_tag meal.image.url(:medium) %>
    <% end %>
  </div>
  <% end %>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate @meals, previous_label: "<", next_label: ">" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', index_path_path %>
  </div>
</div>
