<div class="row">
  <div class="col-md-12">
    <p id="notice"><%= notice %></p>
    <h2>Meals</h2>

    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @meals.each do |meal| %>
          <%= render :partial => "meal", :locals => { :@meal => meal } %>

          <% if @meal.seed_image %>
            <img class="index_img" src="<%= @meal.seed_image %>" alt="Meal Picture">
          <% else %>
            <%= image_tag meal.image.url(:medium) %>
          <% end %>
          <br>
          <br>
        <hr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Meal', new_meal_path %> |
    <%= link_to 'Back', index_path_path %>

  </div>

</div>

