<% content_for :page_js do %>
  <script type="text/javascript">
    var map_results = JSON.parse('<%= raw(@results.to_json) %>');
  </script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row meal-listing">
        <% @meals.each do |meal| %>
          <div class="col-md-4 single-meal" data-meal-id="<%= meal.id %>">
            <%= render :partial => "meal",  :layout => false , :locals => { :meal => meal } %>
            <% if meal.seed_image %>
              <%= link_to meal_path(meal) do %>
                <img class="img-responsive img-rounded" src="<%= meal.seed_image %>" alt="Meal Picture">
              <% end %>
            <% else %>
              <%= link_to meal_path(meal) do %>
                <%= image_tag meal.image.url(:medium) %>
              <% end %>
            <% end %>

            <% if current_user %>
              <%= link_to 'Order', meal_path(meal), class: "form-control btn btn-info order-btn" %>
            <% else %>
              <%= link_to 'Order', "#", data: {toggle: "modal", target: "#login"}, class: "form-control btn btn-info order-btn" %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
    <!-- Maps goes here -->
    <div id="map" class="col-md-6">

    </div>

  </div>
  <%= link_to 'Back', :back %>
</div>
