<% content_for :page_js do %>
  <script type="text/javascript">
     var map_results = JSON.parse('<%= raw(@results.to_json) %>');
  </script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row meal-listing">
        <% @meals.each do |meal| %>
          <div class="col-md-4 single-meal">
            <%= render :partial => "meal",  :layout => false , :locals => { :meal => meal } %>
            <% if meal.seed_image %>
              <img class="img-responsive" src="<%= meal.seed_image %>" alt="Meal Picture">
            <% else %>
              <%= image_tag meal.image.url(:medium) %>
            <% end %>
            <%= link_to 'Show', meal %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Maps goes here -->
    <div id="map" class="col-md-6">

    </div>

  </div>
</div>
