<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <% if @meal.seed_image %>
            <img class="img-responsive" src="<%= @meal.seed_image %>" alt="Meal Picture">
          <% else %>
            <%= image_tag @meal.image.url(:large) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="notice"><%= notice %></p>
          <%= render :partial => "meal" %>
          <%= render :partial => "heart" %>
          <% if current_user %>
            <hr>
            <%= render :partial => "/orders/form", :locals => { :order => @order, :meal => @meal } %>
          <% end %>

          <%= link_to 'Back', meals_path %>
        </div>
      </div>
    </div>
  </div>

</div>
