<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <% if @meal.seed_image %>
            <img class="img-responsive img-rounded" src="<%= @meal.seed_image %>" alt="Meal Picture">
          <% else %>
            <%= image_tag @meal.image.url(:large), class: "img-rounded" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p id="notice"><%= notice %></p>
          <%= render :partial => "meal", locals: { meal: @meal} %>

          <% if @meal.reviews %>

            <% @meal.reviews.each do |review| %>
              <%= render :partial => "/reviews/review", locals: { :review => review } %>
            <% end %>
          <% end %>

          <% if current_user %>
            <%= render :partial => "/orders/form", :locals => { :order => @order, :meal => @meal } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Back', :back %>

</div>
