<!DOCTYPE html>
<html>
  <head>
    <title>madewithlove</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Make sure all content is inside a Bootstrap container div -->
    <%= render 'layouts/header' %>

    <div class="container main">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
