<!DOCTYPE html>
<html>
  <head>
    <title>madewithlove</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Make sure all content is inside a Bootstrap container div -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-heart"></span> madewithlove</a>
        <div class="navbar-text navbar-right">
          <% if current_user %>
            <a id="profile" href="/users/<%= current_user.id %>" class="navbar-link" data-toggle="popover" data-html="true">
              <img class="navbar-avatar pull-right" src="<%= current_user.avatar %>" alt="<%= current_user.first_name %>">
            </a>
          <% else %>
            <a href="/login">Login</a>
            <a href="/register">Sign Up</a>
          <% end %>
        </div>
        <div id="profile-popover" class="hidden">
          <% if current_user %>
            <ul>
              <li><a href="/users/<%= current_user.id %>/edit"></a>Edit Profile</li>
              <li><a href="logout">Logout</a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
