<!DOCTYPE html>
<html>
  <head>
    <title>madewithlove</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Make sure all content is inside a Bootstrap container div -->
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>


    <%= render 'layouts/footer' %>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 30.279961, lng: -97.7440557},
          zoom: 13
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzmOnXURd5fsGDcurhiD4oUGn13bFX928&callback=initMap"
    async defer data-turbolinks-eval="false" ></script>
  </body>
</html>
